.main-section {
  text-align: justify;

  &__section-header {
    text-align: center;
    font-size: 1.5em;
  }

  &--margin-top {
    margin-top: 40px;
  }

  li {
    margin-top: 20px;
    list-style-type: none;
  }

  code {
    color: blue;
  }
}